@media (max-width:1900px) {
    html {
        font-size: 88%;
    }
}
@media (max-width:1500px) {
    html {
        font-size: 75%;
    }
    .theme-letter {
        max-height: 30rem;
    }
    .footer-web-url a {
        font-size: 1.3rem;
    }
}
@media (max-width:1199px) {
    .theme-letter {
        max-height: 28.125rem;
    }
    .about-content {
        max-width: 100%;
    }
    .innovation-section .section-bg {
        opacity: 0.2;
    }
    .innovation-section .w-50 {
        width: 100% !important;
    }
    .tab-section {
        justify-content: start;
    }
    .tab-list {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
        padding: 0 .4375rem;
        overflow: auto;
    }
    .tab-block {
        width: auto;
        min-width: 28.125rem;
    }
    .tab-content-left-row-wrap {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:991px) {
    .main-header .contact-link, .inquiry-btn {
        font-size: 1.25rem;
    }
    .main-header-btn {
        max-width: 18.5rem;
    }
    .inquiry-btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .main-header .contact-link img {
        min-width: 1.5rem;
        max-width: 1.5rem;
        margin-right: .5rem;
    }
    .main-header .contact-link {
        margin-right: 1rem;
    }
    .section-heading {
        font-size: 3rem;
    }
    .theme-letter {
        max-height: 24rem;
    }
    .next-section-btn button {
        width: 4.25rem;
    }
    .tab-title {
        font-size: 1.3125rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .tab-block {
        min-width: 24rem;
    }
    .map-pins-data {
        left: -1%;
        top: -4%;
    }
    .inquiry-card .inquiry-btn {
        display: flex;
        align-items: center;
        min-height: 4.375rem;
    }
    .associations-slider .slick-prev {
        right: -4.625rem;
    }
    .associations-slider .slick-next {
        left: -4.625rem;
    }
    .slick-slider .slick-arrow, .footer-bottom-row.owl-carousel .owl-nav button {
        width: 3.5rem;
    }
}
@media (max-width:767px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .h4, h4 {
        font-size: 1.75rem;
    }
    p {
        margin-bottom: 1rem;
    }
    .rounded-xl { border-radius: 1.125rem; }
    .shadow-common { box-shadow: 0 0 .5rem .1875rem rgba(140, 140, 140, 25%); }
    .slick-slider .slick-arrow, .footer-bottom-row.owl-carousel .owl-nav button {
        width: 2.8rem;
    }
    .next-section-btn button {
        width: 3rem;
    }
    .main-header-content {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
    .contact-link-wrap {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: .3125rem;
    }
    .main-header .contact-link {
        margin-right: 0;
    }
    .section-heading {
        font-size: 2rem;
    }
    .theme-letter {
        max-height: 15rem;
    }
    .about-content strong, .tab-content-description strong {
        font-size: 1.5rem;
    }
    .tab-arrow img {
        max-width: 2.1875rem;
    }
    .tab-list {
        margin-right: -1rem;
        margin-left: -1rem;
    }
    .tab-block {
        min-width: 22rem;
        padding: 0 0.6rem;
    }
    .tab-block-img {
        padding: 1.5rem;
    }
    .associations-desc {
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .associations-slider .slick-prev {
        right: -3.125rem;
    }
    .associations-slider .slick-next {
        left: -3.125rem;
    }
    .map-pin-common img {
        max-width: 2.375rem;
    }
    .map-pin-common strong {
        font-size: .875rem;
    }
    .n-letter {
        margin-top: 0;
    }
    .inquiry-card .inquiry-btn {
        min-height: 4rem;
    }
    .about-content p {
        font-size: 1.25rem;
    }
}
@media (max-width:575px) {
    .tab-content-inner {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .tab-content-left-row {
        --bs-gutter-x: 1rem;
        row-gap: 1rem;
    }
    .tab-content-img-box {
        outline: .5rem solid rgba(255, 255, 255, 0.5);
        outline-offset: -.5rem;
        box-shadow: 0 3px 4px 0 var(--gray450);
    }
    .inquiry-card, .contact-card {
        max-width: 22rem;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-web-url a {
        font-size: 1.25rem;
    }
    .footer-bottom-bg img {
        object-fit: cover;
        height: 70%;
        object-position: left;
    }
    .footer-bottom {
        padding-bottom: 1.5rem;
    }
}